@media screen and (max-width: 900px) {
    .header_container nav {
        display: none;
    }

    .main_container {
        width: 80%;
        height: 293px;
    }

    .main_release {
        margin-bottom: 3%;
        width: 55%;
    }

    .main_release h3 {
        font-size: 34px;
    }

    .main_release p {
        font-size: 10px;
    }

    .play-film {
        width: 115px;
        height: 34px;
        font-size: 18px;
    }

    .film-info {
        width: 195px;
        height: 34px;
        font-size: 18px;
    }
}